[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = 4f57c59f066a03d13de8c65bb34fca8247f5fcb2
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
	branch = v6
[submodule "lib/morpho-utils"]
	path = lib/morpho-utils
	url = https://github.com/morpho-dao/morpho-utils
[submodule "lib/aave-v3-periphery"]
	path = lib/aave-v3-periphery
	url = https://github.com/aave/aave-v3-periphery
	branch = v2.0.1
[submodule "lib/morpho-data-structures"]
	path = lib/morpho-data-structures
	url = https://github.com/morpho-dao/morpho-data-structures
	branch = v0.3
[submodule "lib/permit2"]
	path = lib/permit2
	url = https://github.com/Uniswap/permit2
	branch = f3349109ed405970a7fb3bb7e9ac9574c822a90d
[submodule "lib/aave-v3-origin"]
	path = lib/aave-v3-origin
	url = git@github.com:aave-dao/aave-v3-origin.git
