# Compiler files
cache_hardhat/
cache_forge/
artifacts/
out/

# Ignores broadcast
broadcast/

# Dotenv file
.env

# Node modules
node_modules/

# IDE
.vscode

# coverage
coverage
lcov.info

# Docs
docs/
