[profile.default]
names = true
sizes = true
libs = ["node_modules", "lib"]
fs_permissions = [{ access = "read", path = "./config/"}]
gas_limit = "18446744073709551615" # 2^64 - 1, to remove the gas limit
evm_version = "shanghai"

[profile.build]
evm_version = "paris"

[fuzz]
runs = 32

[invariant]
runs = 4
depth = 64

[rpc_endpoints]
mainnet = "https://eth-mainnet.g.alchemy.com/v2/${ALCHEMY_KEY}"
avalanche = "https://rpc.ankr.com/avalanche"
tenderly = "https://rpc.tenderly.co/fork/${TENDERLY_FORK_ID}"


# See more config options https://github.com/foundry-rs/foundry/tree/master/crates/config
