name: Push

on:
  push:
    branches:
      - main
      - dev

jobs:
  test-ethereum-mainnet:
    name: Tests (ethereum-mainnet)

    uses: ./.github/workflows/forge.yml
    with:
      network: ethereum-mainnet
      internal-fuzz-runs: 64
      integration-fuzz-runs: 64
    secrets: inherit
